body
{
    font-family: "Ponnala", system-ui;
    font-weight: 400;
    font-style: normal;

    background-image: url("./Image/Background/Happy\ Halloween.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* font-family: Arial; */
    font-size: 30px;
    background-color: black;
    overflow-x: hidden;
    direction:ltr;
    margin: auto;
} 

header{
    background-color: white;
    position: relative;
    bottom: 100%;
    margin: 0px auto 0px auto;
    /* margin-top: 150%; */
    padding: 40px 0%;
    padding-bottom: 200px;
    opacity: 70%;
}

p{
    text-align: center;
    margin: 5% 10%;
}

section{
    padding: 40px 0px 40px 0px;
    position: relative;
    margin: 200px auto 200px;
    display: block;
    height: auto;
    background-color: rgba(255, 255, 255, 0.723);
}

p1.ItalicFont{
    font-style: italic;
}

.TopSection{
    margin-top: 0px;
}

footer{
    padding: 40px 0px 40px 0px;
    margin: 200px auto 0 auto;
    background-color: rgba(63, 63, 63, 0.507);
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.BodySelection{
    position: relative;
    margin-top: 100vh;
}

.content{
    text-align: center;
    font-weight: bold;
}

.borderTest{
    position:relative;
    height: 100vh;
    border: 5px solid red; 
    max-width: 100%;
}

.ArtPic{
    margin: 50px 10px 0px 10px;
    justify-content:left;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    
}


.ContentGallary{
    justify-content: center;
    /* flex-direction: none; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 40px 0px;
}

.ButtonPlacement{
    margin: auto 40px auto 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: inherit;
}

.GameThumbnail{
    height: 300px;
}

.Pic{
    border-radius: 5%;
}

.MangaThumbnail{
    height: 400px;
}

p.Title{
    font-size: 20px;
    font-weight: bold;
}

p.Description{
    position: relative;
    font-size: 20px;
}

.Art{
    max-height: 350px;
    border-radius: 5%;
}

.LogoIconButtons{
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 40px;
    align-items: center;
}

.gallery{
    margin: 50px auto 0px auto;
}

@media screen and (width < 640px)
{
    body{
        font-size: 20px;
    }

    .GameThumbnail{
        height: 250px;
    }
}
/* 
@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
} */

