body
{
    background-image: url("./Image/Happy\ Halloween.png");
    font-family: Arial;
    background-size: cover;
    font-size: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
} 

header{
    background-color: white;
    position: absolute;
    top: 100%;
    /* margin-top: 150%; */
    padding: 40px 0%;
    padding-bottom: 200px;
    opacity: 70%;
}

section{
    position: absolute;
    top: 180%;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.723);
}

div{
    font-weight: bold;
    text-align: center;
}

p{
    text-align: center;
    margin: 5% 20%;
}

ul{
    list-style-type: none;
}

.Art{
    width: 40%;
}

.gallery{
    overflow: auto;
    white-space: nowrap;
}
@media only screen and (max-width: 720px) {
    section{
      top: 220%;
    }
  }

